page-pick-custos {
    .tabela {
        text-align: center;
        background:  rgb(225, 226, 223);
        font-weight: 900;
        font-size: 10px;
    }

    h3 {
        font-family: "Arial Black", Gadget, sans-serif;
        text-align: center;
    }

    .form{
        background:  rgb(225, 226, 223);
        font-weight: 900;
        font-size: 14px;
    }

    .btn{
        padding: padding-end;
    }

}
