<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name = "menu"></ion-icon>
    </button>
    <ion-title><h3>Consulta Custos</h3></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="home">
  <form [formGroup]="formGroup" (ngSubmit)="searchCusto(); $event.preventDefault()">
    <br>
    <ion-item class="form">
      <ion-label stacked>Descrição</ion-label>
      <ion-select formControlName="nome">
        <ion-option *ngFor="let i of item; first as f" [value]="i" [selected]="f">{{i}}</ion-option>
      </ion-select>
    </ion-item>
    <br>
    <br>
    <ion-item class="form">
      <ion-label position="floating">Data inicio pesquisa</ion-label>
      <ion-datetime formControlName="datainicio" displayFormat="DD/MM/YYYY" min="2019-10-01" max="2050-12-31"></ion-datetime>
    </ion-item>
    <br>
    <br>
    <ion-item class="form">
      <ion-label position="floating">Data fim pesquisa</ion-label>
      <ion-datetime formControlName="datafim" displayFormat="DD/MM/YYYY" min="2019-10-01" max="2050-12-31"></ion-datetime>
    </ion-item>
    <br>
    <button ion-button block type="submit" >Pesquisar</button>
  </form>

  <div *ngIf="exist">
    <ion-card *ngFor="let l of lista" class="form">
      <ion-card-header>
        <ion-row>Descrição : {{ l?.nome }}</ion-row>
      </ion-card-header>
      <ion-card-content>
        <ion-row>Data : {{ l?.dataPagamento }}</ion-row>
        <ion-row>Valor : {{ l?.valor | currency }}</ion-row>
        <ion-col></ion-col>
        <ion-row align-end >
          <button class="btn" ion-button outline color="danger" round small end (click)="removeCusto(l.id)">
            Delete
          </button>
          <button class="btn" ion-button outline color="secondary" round small end (click)="editCusto(l.id)">
            Edit
          </button>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>


