page-principal {

    h3 {
        text-align: center;
    }

    img {
        width: 100px;
        height: 100px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }

}
