<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name = "menu"></ion-icon>
    </button>
    <ion-title><h4>Consulta Hospedes</h4></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-toolbar>
      <ion-searchbar placeholder="Digite um nome"
                [(ngModel)]="queryText"
                (ionInput)="filterCliente($event)"
                clearInput>           
      </ion-searchbar>
    </ion-toolbar>
  </ion-item>
 
  <ion-item *ngIf="getn() != null">
    <ion-list>
      <ion-item no-lines  *ngFor="let cliente of clientes">
        <h3>{{cliente.nome}} - {{cliente.email}}</h3>
        <ion-icon name="search" item-end (click)="editarCliente(cliente.id)"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-item>

</ion-content>
