page-home {

    h3 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    img {
        width: 200px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }

    .form{
        background:  rgb(225, 226, 223);
        font-weight: 900;
        font-size: 14px;
    }

}