.toolbar-background {
    background-color: rgb(129, 196, 172);
}

.home{
    background: rgb(115, 175, 154);
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: rgb(27, 10, 10);
    font-weight: 70;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    text-align: left;
 
}

ion-app.md [padding] {
    background: rgb(223, 240, 207);
}

.title {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 45px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    text-align: center;
}
