page-show-relatorio {
    h3 {
        font: 160% sans-serif;
        padding:0px 0px;
    }

    h2 {
        text-align: center;
        font-weight: 900;
    }

    .title{
        text-align: center;
        font-weight: 900;
    }

    .tabela{
        align-self: center;
        text-align: center;
        font-size: 8px;
    }

    .col{
        max-width :20% !important;
      }
}
