page-show-cliente {
    .danger {
        color: red;
    }
    h3 {
        font: 160% sans-serif;
        padding:0px 0px;
    }

    img {
        width: 100px;
        height: 100px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }
    .tabela{
        align-self: center;
        margin: auto;
    }
}
