page-show-reservas {
    h3 {
        font: 160% sans-serif;
        padding:0px 0px;
    }

    .form{
        background:  rgb(225, 226, 223);
        font-weight: 900;
        font-size: 14px;
    }

    .btn{
        padding: padding-end;
    }

}
